Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

container_commands:
  01_download_epel:
    command: "sudo amazon-linux-extras install epel -y"
  02_enable_epel:
    command: "sudo yum-config-manager --enable epel"
  03_update_yum:
    command: "sudo yum update -y --skip-broken"
  04_install_certbot: 
    command: "sudo yum install -y certbot python2-certbot-nginx"
  50_cronjobsetrenewal:
    command: "sudo certbot certonly --debug --non-interactive --email federicogorga.dev@gmail.com --agree-tos --nginx --domains custom-plan.iamclovis.com"