<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta
      name="csrf-token"
      content="wfGHiEN7i8HE0g7sYDH4H316H52MR2mDHdF7xfTP"
    />
    <!--meta name="description"
        content="Your intermittent fasting journey starts here! Find what will work for you by filling 60-sec quiz approved by experts and get your daily fasting assistant." /-->
    <title>Clovis Intake Quiz</title>
    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="/static/images/Clovis Favicon.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="/static/images/Clovis Favicon.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="/static/images/Clovis Favicon.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/static/images/Clovis Favicon.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="60x60"
      href="/static/images/Clovis Favicon.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="/static/images/Clovis Favicon.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="76x76"
      href="/static/images/Clovis Favicon.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="/static/images/Clovis Favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="/static/images/Clovis Favicon.png"
      sizes="196x196"
    />
    <link
      rel="icon"
      type="image/png"
      href="/static/images/Clovis Favicon.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="/static/images/Clovis Favicon.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/static/images/Clovis Favicon.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/static/images/Clovis Favicon.png"
      sizes="32x32"
    />

    <link href="/static/css/font.css" rel="stylesheet" type="text/css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.29/sweetalert2.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      crossorigin="anonymous"
    />
    <link href="/static/css/app.css" rel="stylesheet" type="text/css" />

    <script type="ee69bbef23a1c464e2881d95-text/javascript">
      (function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({
              'gtm.start': new Date().getTime(),
              event: 'gtm.js'
          });
          var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s),
              dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PRKW2RQ');
    </script>

    <script type="ee69bbef23a1c464e2881d95-text/javascript">
      var _vwo_code = (function () {
          var account_id = 370896,
              settings_tolerance = 2000,
              library_tolerance = 2500,
              use_existing_jquery = false,
              /* DO NOT EDIT BELOW THIS LINE */
              f = false,
              d = document;
          return {
              use_existing_jquery: function () {
                  return use_existing_jquery;
              },
              library_tolerance: function () {
                  return library_tolerance;
              },
              finish: function () {
                  if (!f) {
                      f = true;
                      var a = d.getElementById('_vis_opt_path_hides');
                      if (a) a.parentNode.removeChild(a);
                  }
              },
              finished: function () {
                  return f;
              },
              load: function (a) {
                  var b = d.createElement('script');
                  b.src = a;
                  b.type = 'text/javascript';
                  b.innerText;
                  b.onerror = function () {
                      _vwo_code.finish();
                  };
                  d.getElementsByTagName('head')[0].appendChild(b);
              },
              init: function () {
                  settings_timer = setTimeout('_vwo_code.finish()', settings_tolerance);
                  var a = d.createElement('style'),
                      b =
                      'body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',
                      h = d.getElementsByTagName('head')[0];
                  a.setAttribute('id', '_vis_opt_path_hides');
                  a.setAttribute('type', 'text/css');
                  if (a.styleSheet) a.styleSheet.cssText = b;
                  else a.appendChild(d.createTextNode(b));
                  h.appendChild(a);
                  this.load('//dev.visualwebsiteoptimizer.com/j.php?a=' + account_id + '&u=' +
                      encodeURIComponent(d.URL) + '&r=' + Math.random());
                  return settings_timer;
              }
          };
      }());
      _vwo_settings_timer = _vwo_code.init();
    </script>
  </head>

  <body class="page-results results-3">
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PRKW2RQ"
        height="0"
        width="0"
        style="display: none; visibility: hidden;"
      ></iframe>
    </noscript>

    <header class="b-header">
      <div class="b-header-inner c-wrapper row">
        <a href="/app2" class="e-logo">
          <img src="/static/images/clovis-png-black.png" class="logo" />
        </a>
      </div>
    </header>
    <div class="container" id="summary-footer" style="margin-top: 60px;">
      <div class="row">
        <div class="container">
          <div class="b-ourpromise">
            <h2>Thank you!</h2>
            <p class="e-text">
              Thank you so much for completing the Quiz! Remember, all of my
              Clovis work is based on the foundational principles of
              individualized nutrition.
              <br /><br />
              If there’s one thing I’m certain of, after working with over 2,150
              clients, it’s that there is no one-size-fits-all approach to
              health & wellness. I treat each and every client as an individual.
              <br /><br />
              Thanks to the information you just gave me, I can create a
              customized nutrition plan specifically designed to support your
              unique goals and needs as an individual.
              <br /><br />
              Take a look at some of the basic information provided here to get
              you started. I also recommend taking a screenshot of this page for
              future reference.
              <br /><br />
              Keep an eye on your inbox (and don't forget to check your Spam or
              Junk Folders!) and your complete Custom Nutrition Plan will be
              delivered just as soon as it's ready!
              <br /><br />
              Thanks so much for trusting me with your health & wellness!
              <br /><br />
              Your Friend in Better Health,
            </p>
            <p class="e-heading">Justin Nault</p>
            <p class="e-subtitle">
              Certified Nutritional Therapist <br />Specialist in Sports
              Nutrition <br />Specialist in Fitness Nutrition
            </p>
            <img src="/static/images/JustinProfileCircle.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div id="app" class="c-content">
      <div class="c-maincontent">
        <div class="container c-wrapper">
          <h3>Your Custom Recommendations...</h3>
          <div class="b-blocks-featured">
            <div
              class="b-result b-result--text"
              style="margin-left: auto; margin-right: auto;"
            >
              <br />
              <div class="b-stats--header">87 <span>%</span></div>
              <div class="b-stats--footer">
                Similar people
                <b>lost</b> more than <span class="e-special">10</span>
                <b>pounds</b> in their first 30 days with
                <span class="e-special">Clovis</span>.
              </div>
            </div>
          </div>
          <div class="b-blocks-featured">
            <div
              class="b-result b-result--text"
              style="margin-left: auto; margin-right: auto;"
            >
              <br />
              <div class="b-stats--header">80 <span>%</span></div>
              <div class="b-stats--footer">
                Similar people reported increased mood and mental health
              </div>
            </div>
          </div>
          <div class="b-blocks-featured">
            <div
              class="b-result b-result--text"
              style="margin-left: auto; margin-right: auto;"
            >
              <br />
              <div class="b-stats--header">90 <span>%</span></div>
              <div class="b-stats--footer">
                Similar people reported better sleep quality
              </div>
            </div>
          </div>
          <div class="b-blocks-featured">
            <div
              class="b-result b-result--text"
              style="margin-left: auto; margin-right: auto;"
            >
              <br />
              <div class="b-stats--header">95 <span>%</span></div>
              <div class="b-stats--footer">
                Similar people reported feeling less hungry throughout the day
              </div>
            </div>
          </div>
          <div class="b-blocks-featured">
            <div
              class="b-result b-result--text"
              style="margin-left: auto; margin-right: auto;"
            >
              <br />
              <div class="b-stats--header">83 <span>%</span></div>
              <div class="b-stats--footer">
                Similar people reported increased cognitive performance
              </div>
            </div>
          </div>
          <div class="summary">
            <h2>Personal summary</h2>
            <div class="row">
              <div class="col-12">
                <div id="bmi" class="b-result results-box">
                  <img
                    src="/static/images/bmi.png"
                    alt=""
                    width="150"
                    height="150"
                  />
                  <div
                    class="e-row {{ 'is-selected' if my_bmi_class==2 else '' }}"
                  >
                    <span class="e-value"
                      ><span class="e-number">{{ my_bmi }}</span> BMI</span
                    >
                    <span class="e-name">Obese</span>
                  </div>
                  <div
                    class="e-row {{ 'is-selected' if my_bmi_class==1 else '' }}"
                  >
                    <span class="e-value"
                      ><span class="e-number">{{ my_bmi }}</span> BMI</span
                    >
                    <span class="e-name">Overweight</span>
                  </div>
                  <div
                    class="e-row {{ 'is-selected' if my_bmi_class==0 else '' }}"
                  >
                    <span class="e-value"
                      ><span class="e-number">{{ my_bmi }}</span> BMI</span
                    >
                    <span class="e-name">Normal</span>
                  </div>
                  <div
                    class="e-row {{ 'is-selected' if my_bmi_class==-1 else '' }}"
                  >
                    <span class="e-value"
                      ><span class="e-number">{{ my_bmi }}</span> BMI</span
                    >
                    <span class="e-name">Underweight</span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div id="intake" class="b-result results-box">
                  <div class="e-heading">
                    Daily calorie intake
                  </div>
                  <div class="e-value">
                    <div class="daily-norm">
                      <span>{{ daily_calories }}</span>
                    </div>
                  </div>
                  <div class="e-measurement">kCal</div>
                  <img
                    src="/static/images/calories.png"
                    alt=""
                    width="150"
                    height="150"
                  />
                </div>
              </div>
              <div class="col-12">
                <div id="intake" class="b-result results-box">
                  <div class="e-heading">
                    Daily water intake
                  </div>
                  <div class="e-value">
                    <div class="daily-norm">
                      <span>{{ daily_water }}</span>
                    </div>
                  </div>
                  <div class="e-measurement">ounces</div>
                  <img
                    src="/static/images/water.png"
                    alt=""
                    width="150"
                    height="150"
                  />
                </div>
              </div>
              <div class="col-12">
                <div id="electrolytes" class="b-result results-box">
                  <img
                    src="/static/images/electrolytes.png"
                    alt=""
                    width="150"
                    height="150"
                  />
                  <div class="e-row is-selected">
                    <span class="e-name">Sodium</span>
                    <span class="e-value"
                      ><span class="e-number">5000-7000 </span> mg/day</span
                    >
                  </div>
                  <div class="e-row is-selected">
                    <span class="e-name">Magnesium</span>
                    <span class="e-value"
                      ><span class="e-number">300-500 </span> mg/day</span
                    >
                  </div>
                  <div class="e-row is-selected">
                    <span class="e-name">Potassium</span>
                    <span class="e-value"
                      ><span class="e-number">1000-3500 </span> mg/day</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      type="ee69bbef23a1c464e2881d95-text/javascript"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.29/sweetalert2.min.js"
      type="ee69bbef23a1c464e2881d95-text/javascript"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"
      type="ee69bbef23a1c464e2881d95-text/javascript"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
      type="ee69bbef23a1c464e2881d95-text/javascript"
    ></script>
    <script
      src="/static/js/app.js"
      type="ee69bbef23a1c464e2881d95-text/javascript"
    ></script>
    <script
      src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js"
      data-cf-settings="ee69bbef23a1c464e2881d95-|49"
      defer=""
    ></script>
  </body>
</html>
